<body id="page1">
    <div class="body1">
        <!-- header -->
        <nav id="menu" style="background-color:darkorange;">
            <ul>
                <li class="nav1"><i class="fab fa-pied-piper" style="margin-top:40px;margin-left:50px;color:white;font-size:60px">Store</i></li>
                <li class="nav2 font-weight-bold"><a href="/Home/index">Fashion</a></li>
                <li class="nav3 font-weight-bold"><a href="/Home/News">Cosmetics</a></li>
                <li class="nav4 font-weight-bold"><a href="/Home/Services">Toys</a></li>
                <li class="nav5 font-weight-bold"><a href="/Home/Products">Sports</a></li>
                <li class="nav6 font-weight-bold"><a href="/Home/Contact">DataBase</a></li>
            </ul>
        </nav>
